<div>
    <h1 class="uppercase text-3xl md:text-5xl text-light-bluePrimary text-center font-bold pt-32 pb-20">
        contact
    </h1>
    <div
        class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4 bg-light-bluePrimary rounded-md text-light-default u-fade-type-static js-scroll-trigger">
        <div>
            <iframe class="w-full h-full min-h-96" frameborder="0" style="border:0;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.1819013774953!2d-5.827722685510491!3d35.74633358017912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b87c216892bc7%3A0x48bdf85995e9c186!2sSolicode%20Tanger!5e0!3m2!1sfr!2sma!4v1621944120029!5m2!1sfr!2sma"
                allowfullscreen>
            </iframe>
        </div>

        <div class="relative p-5 sm:max-w-xl sm:mx-auto">
            <div class="text-center pb-6">
                <h1 class="text-3xl font-bold my-5">Contact Us!</h1>

                <p class="text-justify">
                    le Maroc de demain est numérique et SOLICODE de est la formation privilégiée pour vous préparer
                    aux
                    futurs challenges. Devenez développeurs dès à présent en rejoignant une formation de qualité,
                    délivrée par <a class="text-light-blueSecondary" href=".https://www.ofppt.ma/">www.ofppt.ma</a>
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                <div>
                    <h2 class="text-light-primary font-semibold">Adresse:</h2>
                    <p class="text-light-default">Bni Waryaghel 90000 Tanger, Maroc</p><br>
                </div>
                <div>
                    <h2 class="text-light-primary font-semibold">Email:</h2>
                    <p class="text-light-default">info@solicode.com</p>
                </div>
                <div>
                    <h2 class="text-light-primary font-semibold">Portable:</h2>
                    <p class="text-light-default">(212) 0634 39 05 05</p><br>
                </div>
                <div>
                    <h2 class="text-light-primary font-semibold">Fixe:</h2>
                    <p class="text-light-default">(212) 0539 30 88 85</p><br>
                </div>
            </div>
        </div>
    </div>
</div>