<div class="flex flex-col-reverse xl:flex-row justify-end  px-5 py-10 relative">
    <div class="xl:w-1/2 xl:absolute xl:top-0 xl:left-8">
        <div class="bg-light-default xl:h-96 shadow-md p-10 dark:bg-dark-default dark:text-light-default">
            <h2 class="font-bold text-4xl text-light-red mb-5">A propos de nous</h2>
            <p class="text-justify">
                SOLICODE est un centre de formation solidaire et inclusif, ouvert aux jeunes motivés et intéressés par
                les
                métiers du Développement Web et Mobile. L’apprenant à SOLICODE se considère comme acteur principal tout
                au
                long de son processus d’apprentissage. C’est lui qui construit ses savoirs à travers la réalisation des
                projets,
                individuels ou par groupe, inspirés du milieu professionnel afin de favoriser une meilleure insertion au
                marché de travail. La formation au sein de SOLICODE est axée sur différents volets: technique,
                soft-skills,
                entreprenariat et gestion de projet. A l’issue de cette formation, les apprenants bénéficieront d’une
                double
                certification délivrée par SIMPLON et OFPPT.
            </p>
        </div>
    </div>
    <div class="xl:w-1/2 h-44 sm:h-64 lg:h-96 xl:content-end">
        <iframe class="w-full h-full"
            src="https://www.youtube.com/embed/sp6Dnvjm-s8?rel=0&showinfo=0&autoplay=1"></iframe>
    </div>

</div>