<div class="flex flex-row bg-light-default shadow-md px-5 py-10 dark:bg-dark-default dark:text-light-default relative">
    <div class="w-1/2 pr-10 relative">
        <div class="absolute top-0 right-0 px-5 py-2 bg-white dark:bg-dark-default dark:text-light-default">
            <h2 class="font-bold text-4xl text-light-red mb-5">A propos de nous</h2>
            <p>
                SOLICODE est un centre de formation solidaire et inclusif, ouvert aux jeunes motivés et intéressés par
                les
                métiers du Développement Web et Mobile. L’apprenant à SOLICODE se considère comme acteur principal tout
                au
                long de son processus d’apprentissage. C’est lui qui construit ses savoirs à travers la réalisation des
                projets,
                individuels ou par groupe, inspirés du milieu professionnel afin de favoriser une meilleure insertion au
                marché de travail. La formation au sein de SOLICODE est axée sur différents volets: technique,
                soft-skills,
                entreprenariat et gestion de projet. A l’issue de cette formation, les apprenants bénéficieront d’une
                double
                certification délivrée par SIMPLON et OFPPT.
            </p>
        </div>
        <iframe class="w-full h-full" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
</div>