<div>
    <h1 class="uppercase text-3xl md:text-5xl text-light-bluePrimary text-center font-bold pt-32 pb-20">
        solicode en chiffres
    </h1>
    <div
        class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4 bg-light-bluePrimary rounded-md text-light-default u-fade-type-static js-scroll-trigger">
        <div>
            <img src="./assets/images/counter.jpg" alt="">
        </div>

        <div class="grid grid-cols-2 gap-5 p-5 justify-items-center text-center ">
            <div id="counter-box" class="content-center">
                <span class=" block">
                    <i
                        class="fa-solid fa-users text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
                </span>
                <h1 id="counterStaff" data-number="12" class="counter text-3xl md:text-5xl font-bold">
                </h1>
                <p class="uppercase text-sm md:text-md lg:text-lg">
                    staff
                </p>
            </div>
            <div id="counter-box" class="content-center">
                <span class=" block">
                    <i
                        class="fa-solid fa-keyboard text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
                </span>
                <h1 id="counterPlaces" data-number="120" class="counter text-3xl md:text-5xl font-bold">
                </h1>
                <p class="uppercase text-sm md:text-md lg:text-lg">
                    Places pédagogiques
                </p>
            </div>
            <div id="counter-box" class="content-center">
                <span class=" block">
                    <i
                        class="fa-solid fa-graduation-cap text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
                </span>
                <h1 id="counterWinnera" data-number="43" class="counter text-3xl md:text-5xl font-bold">
                </h1>
                <p class="uppercase text-sm md:text-md lg:text-lg">
                    lauréats
                </p>
            </div>
            <div id="counter-box" class="content-center">
                <span class=" block">
                    <i
                        class="fa-solid fa-award text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
                </span>
                <h1 id="counterSectors" data-number="2" class="counter text-3xl md:text-5xl font-bold">
                </h1>
                <p class="uppercase text-sm md:text-md lg:text-lg">
                    Filières
                </p>
            </div>
        </div>
    </div>
</div>