<div
    class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4 bg-light-bluePrimary rounded-md text-light-default mt-20 u-fade-type-static js-scroll-trigger">
    <div>
        <img src="./assets/images/counter.jpg" alt="">
    </div>

    <div class="grid grid-cols-2 gap-5 p-5 justify-items-center text-center ">
        <div class="content-center">
            <span class=" block">
                <i
                    class="fa-solid fa-users text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
            </span>
            <h1 id="counterStaff" class="text-3xl md:text-5xl font-bold">
                12
            </h1>
            <p class="uppercase text-sm md:text-md lg:text-lg">
                staff
            </p>
        </div>
        <div class="content-center">
            <span class=" block">
                <i
                    class="fa-solid fa-keyboard text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
            </span>
            <h1 id="counterPlaces" class="text-3xl md:text-5xl font-bold">
                120
            </h1>
            <p class="uppercase text-sm md:text-md lg:text-lg">
                Places pédagogiques
            </p>
        </div>
        <div class="content-center">
            <span class=" block">
                <i
                    class="fa-solid fa-graduation-cap text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
            </span>
            <h1 id="counterWinnera" class="text-3xl md:text-5xl font-bold">
                43
            </h1>
            <p class="uppercase text-sm md:text-md lg:text-lg">
                lauréats
            </p>
        </div>
        <div class="content-center">
            <span class=" block">
                <i
                    class="fa-solid fa-award text-3xl md:text-5xl text-light-yellowPrimary hover:text-light-yellowSecondary mb-5"></i>
            </span>
            <h1 id="counterSectors" class="text-3xl md:text-5xl font-bold">
                2
            </h1>
            <p class="uppercase text-sm md:text-md lg:text-lg">
                Filières
            </p>
        </div>
    </div>
</div>