<div>
    <h1
        class="text-center uppercase text-5xl py-10 font-bold text-light-bluePrimary animate-fade-down animate-once animate-duration-[2000ms] animate-ease-in-out animate-fill-forwards">
        solicode en chiffres
    </h1>
</div>

<div class="jos" data-jos_animation="fade">
    Fade Animation On Scroll
</div>

<div class="jos" data-jos_animation="zoom" data-jos_once="true" data-jos_duration="0.5" data-jos_delay="0.2"
    data-jos_timing-function="ease-in-out" data-jos_rootMargin="0% 0% -50% 0%" data-jos_rootMargin_top="-10%"
    data-jos_rootMargin_bottom="-50%" data-jos_scrollDirection="down" data-jos_startVisible="true"
    data-jos_invoke="myCustomFunction" data-jos_invoke_out="myCustomFunction_onExit" data-jos_anchor="#elementID"
    data-jos_scroll="myScrollCallbackFunction">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab officia, sequi delectus doloribus expedita placeat eius
    est error doloremque veritatis atque in commodi, quo nemo! Et perspiciatis eum cum id.</div>