<div>
    <h1 class="uppercase text-3xl md:text-5xl text-light-bluePrimary text-center font-bold pt-32 pb-20">
        nos valeurs
    </h1>

    <!-- FORMATION INCLUSIVE -->
    <div class="grid gap-14 md:grid-cols-2 lg:grid-cols-3 md:gap-5">
        <div
            class="u-fade-type-left js-scroll-trigger rounded-xl bg-light-default hover:bg-light-bluePrimary hover:text-light-primary p-6 text-center shadow-xl mt-10 transition duration-700 ease-in-out">
            <div
                class="mx-auto flex h-28 w-28 -translate-y-20 transform items-center justify-center rounded-full bg-light-bluePrimary bg-opacity-100 shadow-lg shadow-light-blueSecondary">
                <i class="fa-solid fa-user-check text-light-primary text-5xl"></i>
            </div>
            <div class="">
                <h1 class="mb-3 text-xl font-medium uppercase">formation inclusive
                </h1>
                <p class="text-justify">
                    Quel que soit votre niveau d’étude, la passion pour la technologie et l’envie d’apprentissage sont
                    les seuls critères pour nous rejoindre.
                </p>
            </div>
        </div>

        <!-- MÉTHODOLOGIE INNOVANTE -->
        <div
            class="u-fade-type-down js-scroll-trigger rounded-xl bg-light-yellowPrimary text-light-primary p-6 text-center shadow-xl mt-10">
            <div
                class="mx-auto flex h-28 w-28 -translate-y-20 transform items-center justify-center rounded-full bg-light-yellowPrimary bg-opacity-100 shadow-lg shadow-light-graySecondary">
                <i class="fa-regular fa-lightbulb text-light-primary text-5xl"></i>
            </div>
            <div class="">
                <h1 class="text-light-primary mb-3 text-xl font-medium uppercase">méthodologie innovante</h1>
                <p class="text-justify">
                    Le centre SOLICODE est doté des moyens pédagogiques et techniques innovants favorisant
                    l’apprentissage et la pratique des connaissances dans les meilleures conditions. La formation
                    offerte à SOLICODE est axée sur les technologies digitales les plus demandées au marché du travail.
                </p>
            </div>
        </div>

        <!-- PÉDAGOGIE ACTIVE -->
        <div
            class="u-fade-type-right js-scroll-trigger rounded-xl bg-light-default hover:bg-light-bluePrimary hover:text-light-primary p-6 text-center shadow-xl mt-10 transition duration-700 ease-in-out">
            <div
                class="mx-auto flex h-28 w-28 -translate-y-20 transform items-center justify-center rounded-full bg-light-bluePrimary bg-opacity-100 shadow-lg shadow-light-blueSecondary">
                <i class="fa-solid fa-chalkboard-user text-light-primary text-5xl"></i>
            </div>
            <div class="">
                <h1 class="  mb-3 text-xl font-medium uppercase">pédagogie active
                </h1>
                <p class="text-justify">
                    SOLICODE adopte une pédagogie active et par projets où l’apprenant se trouve dans des situations
                    réelles ce qui garantit une insertion professionnelle. L’apprenant est accompagné par des formateurs
                    référants experts durant toute la période de formation.
                </p>
            </div>
        </div>
    </div>
</div>